
[core]
    quotepath = false
    editor = vim
    pager = less -F -X

[color]
    ui = true

[alias]
    a  = add
    aa = add --all
    ############
    br = branch
    ############
    co = checkout
    ############
    c  = commit
    cm = commit -m
    ca = commit --amend
    ############
    cp  = cherry-pick
    cpa = cherry-pick --abort
    cpc = cherry-pick --continue
    ############
    d  = diff
    ds = diff --stat
    ############
    f  = fetch
    fo = fetch origin -p
    fu = fetch upstream -p
    ############
    l  = log
    lg = log --oneline --graph --decorate
    ############
    p  = push
    pf = push -f
    po = push -f origin
    ph = !sh -c 'git push -f origin `git rev-parse --abbrev-ref HEAD`'
    ############
    rb  = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase --interactive
    rbs = rebase --skip
    ############
    ro = remote
    rv = remote -v
    ############
    re  = reset
    rh  = reset HEAD
    reh = reset --hard
    res = reset --soft
    ############
    st = status
    sb = status -s -b
    ############
    sm    = submodule
    smu   = submodule update
    smuir = submodule update --init --recursive

    ############
    upre = !sh -c 'git update-ref refs/heads/$1 remotes/origin/$1' -

    # nickname
    uncommit = reset --soft HEAD~1
    master = !sh -c 'git fetch origin -p && git update-ref refs/heads/master remotes/origin/master && echo master is now at `git log master --oneline -1`' -

